.search {
  max-width: 350px;
  width: 100%;
  position: relative;
  input {
    width: 100%;
    height: 40px;
    color: #fff;
    border-radius: 40px;
    padding: 15px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    transition: outline 0.4s ease;
    &:hover {
      outline: 1px solid #fff;
    }
    &:focus {
      outline: 2px solid #fff;
    }
    &::placeholder {
      color: #fff;
    }
  }
  .cities {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
    a {
      padding: 6px 12px;
      border-radius: 6px;
      transition: background-color 0.4s ease;
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  .autocomplete {
    background: #fff;
    z-index: 10;
    color: #000;
    border-radius: 12px;
    position: absolute;
    width: 100%;
    top: 50px;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    .autocompleteItem {
      padding: 7px 15px;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
    }
  }
}
