.dropdown {
  position: relative;

  .toggleButton {
    cursor: pointer;
    transition: background-color 0.4s ease;
    padding: 6px;
    border-radius: 6px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  .dropdownContent {
    position: absolute;
    top: 100%;
    left: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translate3d(0, -20px, 0);
    opacity: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    color: #fff;
    margin-top: 10px;
  }

  &.open {
    .dropdownContent {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      pointer-events: all;
    }
  }
}
